RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.+)$ index.php [QSA,L]
RewriteRule ^(.*)$ /?path=$1 [QSA,NC]
## RewriteRule v1/(.*)$ api/v1/?path=$1 [QSA,NC]